body {
    margin: 0;
    background: url(https://picsum.photos/1000/1200) center/cover no-repeat;
}

nav {
    height: 80px;
    width: 100%;
    background-color: grey;
    opacity: 0.5;
    position: fixed;
    top: 0;
}

ul li {
    font-size: 1.3em;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    padding-left: 5%;
    padding-top: 10px;
}

ul li:first-child {
    padding-left: 60%;
}

ul li a {
    text-decoration: none;
    color: white;
}